input{
    width: 600px;
  }

textarea {
    height: 10em;
    width: 300px;
}

div[role='alert'] {
    color: red;
    margin-top: 1em;
  }
#sendbtn{
      width: fit-content;
      display: flex;
      justify-content: center;
      border: solid white;
      margin: 0 auto;
  }
#input{
    background-color: transparent;
    border: solid #f7f7f7;
    color: white;
}
